 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 0;
    width: 100%;
}

header {
    background-color: rgba(112,99,236, 0.05);
    padding: 1% 0;
    width: 100%;
    height: 10%;
}

header h1, header h3 {
    padding-left: 10%;
}

h1, h2, h3 {
    font-weight: normal;
}


main {
    padding: 0 12%;
}

section {
    border-bottom: 3px solid mediumslateblue;
    padding: 0 2% 1% 2%;
}

h3 {
    color: mediumslateblue;
}

p {
    text-align: justify;
}

li {
    margin-bottom: 1%;
}

main a {
    color: mediumslateblue;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #f6f6f6;
}

a:hover {
    border-bottom: 1px solid mediumslateblue;
}

blockquote {
    border-left: 3px solid mediumslateblue;
    background-color: rgba(112,99,236, 0.05);
    margin-left: 0;
    margin-right: 0;
    padding: 2% 1% 2% 3%;
    width: 95%;
}

.no-border {
    border-bottom: none;
}
