@keyframes img-pulse {
    0% {margin-top: -20%;}
    50% {margin-top: -17.5%;}
    100% {margin-top: -20%;}
}

@keyframes pulse {
    0% {margin-top: 5%;}
    50% {margin-top: 2.5%;}
    100% {margin-top: 5%;}
}

/* * {
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
} */

html {
    height: 100%;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbar, .navbar .nav-item, .navbar .nav-link {
    /* position: fixed;
    top: 0;
    left: 0; */
    color: whitesmoke;
    background-color: mediumslateblue;
    /* width: 100%;
    margin: 0;
    padding: .75rem; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: mediumslateblue;
    /* border-color: rgba(112,99,236, 0.25) rgba(112,99,236, 0.25) #fff; */
}

.nav-tabs .nav-item .nav-links, .nav-tabs .nav-link {
    color: #212529;
}

.nav-tabs .nav-item .nav-links:hover, .nav-tabs .nav-link:hover {
    background-color: rgba(112,99,236, 0.075);
}

.nav-tabs {
    margin-top: .75rem;
}

/* main {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
} */
h3 {
    color: mediumslateblue;
    font-size: 1.5em;
}

input {
    margin-bottom: .75rem;
}


textarea {
    width: 100%;
    height: 20rem;
    font-family: 'Source Code Pro', monospace;
    background-color: whitesmoke;
    padding: 5px;
    /* margin-top: .5rem;*/
    margin-bottom: 1.5rem;

}

code, pre {
    font-family: 'Source Code Pro', monospace;
    font-size: .8rem;
    color: mediumslateblue;
    padding: 1px 2px;
    border-radius: 0px 4px 4px 0px;
}

code {
    background-color: rgba(112,99,236, 0.075);
    padding: 4px 6px;
}

.lead {
    margin-top: .5rem;
}

.card-header {
    background-color: rgba(112,99,236, 0.075)
}

article {
    background-color: mediumslateblue;
    width: 100%;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

input[type="number"] {
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid rgb(169, 169, 169);
}

textarea:focus, input[type="number"]:focus {
    background-color: white;
    border-color: mediumslateblue;
}

.btn-primary {
    background-color: mediumslateblue;
    color: whitesmoke;
    border: 2px solid mediumslateblue;
    /* padding: 1rem 1.5rem 1rem 1.5rem;
    border: none;
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: .25rem; */

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border: 2px solid mediumslateblue;
    background-color: white;
    color: mediumslateblue;
}

input[type="file"]:before {
    color: mediumslateblue;
}

.form-check-inline {
    display: inline;
}

.title {
    display: inline-block;
    vertical-align: baseline;
    margin: 1rem;
    margin-bottom: 1.25rem;
}

.collapse-button {
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url(../img/expand_more.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.collapse-button-active {
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url(../img/expand_less.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.error:not(:last-child) {
    border-bottom: 1px solid black;
}

.errors:not(:last-child) {
    border-bottom: 1px solid mediumslateblue;

}

.errors {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    margin-top: 1.5rem;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    background-color: whitesmoke;
    color: mediumslateblue;
    border-radius: 5px;
}

article img {
    grid-column: 2;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    height: 80%;
    padding-right: 4rem;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-name: img-pulse;
    animation-timing-function: ease-in;
}

article div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    padding: 2%;
}

article p {
    color: whitesmoke;
    margin: 5%;
    font-size: 1.05rem;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: pulse;
    animation-timing-function: ease-in;
}

article a {
    color: whitesmoke;
}

h2 {
    background-color: mediumslateblue;
    color: whitesmoke;
    /* margin-top: 0;
    border: 2px solid mediumslateblue; */
    padding: .25rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.alert {
    margin-top: 1.5rem;
}

.collapsible > div {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
